table.changes-list-table {
    margin-top: 2rem;
    border-collapse: collapse;
    th {
        background-color: #0388ca;
        color: #fff;
        &:hover {
            background-color: #0b7eb8;
        }
    }
    tr {
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    td,
    th {
        border: 1px solid #ccc;
        // border-top: 1px solid #ECF0F1;
        padding: 10px;
    }
    td:not(.except-me),
    th:not(.except-me):not(.expect-me) {
        min-width: 140px;
        max-width: 180px;
    }
}

tr:nth-of-type(odd) {
    background: #eee;
}

//  text alignment styles
.text-center {
    text-align: center !important;
}